:root {
    font-size: 13px;
    /* déclarer des variables */
    padding: 2rem;
}

section:not(:first-child) {
    border-radius: 2rem;
    display: flex;
}

#header nav {
    justify-content: space-around;
}

#header nav a:first-child {
    width: unset;
}

#header nav a:first-child img {
    height: 100%;
}

#header nav a:nth-child(2) {
    order: 4;
}

#header nav a:not(:first-child) {
    border-bottom: none;
}

#header nav a:not(:first-child):visited {
    border-top: solid 3px #0065FC;
}

#filter header h1 {
    font-size: 2rem;
}

#filter header p {
    font-size: 1.5rem;
}

#filter div:first-child {
    width: 50%;
}

#filter form div:first-child input {
    font-size: 2rem;
}

#searching-icon {
    display: none !important;
}

#filter {
    grid-area: filter;
}

#hosting {
    grid-area: hosting;
}

#popular {
    grid-area: popular;
}

#activity {
    grid-area: activity;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "filter filter "
        "hosting  popular"
        "activity activity";
}

#hosting header h2 {
    grid-area: hosting-header;
}

#popular header i {
    font-size: 2rem;
}

#hosting article:nth-child(1) {
    grid-area: hosting-article1;
}

#hosting article:nth-child(2) {
    grid-area: hosting-article2;
}

#hosting article:nth-child(3) {
    grid-area: hosting-article3;
}

#hosting article:nth-child(4) {
    grid-area: hosting-article4;
}

#hosting article:nth-child(5) {
    grid-area: hosting-article5;
}

#popular header h2 {
    font-size: 1.5rem;
}

#hosting article a figure {
    padding: 5px;
}

#hosting article a figure img {
    height: calc(100% - 80px);
}

#hosting article a figure figcaption {
    height: 80px;
}

#hosting article a figure figcaption p {
    margin: 0.5rem 0 0.5rem;
}

#hosting > a {
    font-size: 1.5rem;
    grid-area: hosting-display-more;
}

#hosting article a figure figcaption h2 {
    font-size: 1.2rem;
}

#hosting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem repeat(2, 15rem) 2rem;
    grid-gap: 2rem;
    grid-template-areas:
        "hosting-header hosting-header hosting-header"
        "hosting-article1 hosting-article2 hosting-article3"
        "hosting-article4 hosting-article5 hosting-article6"
        "hosting-display-more hosting-display-more hosting-display-more";
    background-color: #F2F2F2;
}

#popular {
    grid-area: popular;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  2rem repeat(3, 10rem);
    grid-template-areas:
            "popular-header"
            "article1"
            "article2"
            "article3";
}

#popular article {
    height: 100%;
}

#popular article a {
    height: 100%;
}

#popular article a figure figcaption h2 {
    font-size: 1.2rem;
}

#popular header h2 {
    font-size: 1.5rem;
}

#activity {
    background-color: unset;
}

#activity a figure {
    height: 100%;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px 20px;
}

#activity a figure img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: calc(100% - 70px);
    width: 100%;
}

#activity a figure figcaption {
    display: block;
    font-size: 1rem;
    height: 70px;
    font-weight: bold;
    color: black;
    padding: 0 1rem;
    line-height: 70px;
}

#activity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 100px 100px 100px;
    grid-gap: 2.5rem;
    grid-template-areas:
        "activity-h2 activity-h2 activity-h2 activity-h2"
        "activity-a2 activity-a3 activity-a4 activity-a5"
        "activity-a2 activity-a3 activity-a4 activity-a5"
        "activity-a2 activity-a3 activity-a4 activity-a1"
        "activity-a2 activity-a6 activity-a4 activity-a1"
        "activity-a2 activity-a6 activity-a4 activity-a1";
}

footer div:nth-child(1) {
    grid-area: footer-about;
}

footer div:nth-child(2) {
    grid-area: footer-hosting;
}

footer div:nth-child(3) {
    grid-area: footer-help;
}

footer div {
    text-align: left;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "footer-about footer-hosting footer-help";
}

