@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
    /* 1rm = 10px*/
    font-size: 10px;
    /* déclarer des variables */
}

body {
    font-family: "Raleway", "Sans serif", serif;
    line-height: 1.15;
    max-width: 1920px;
    margin: auto;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17rem;
    margin: 1rem 1rem 0 0;
    font-weight: bold;
}

header a, span, p {
    font-size: 1.6rem;
}

section:not(#popular):not(#hosting) {
    margin: 2rem;
}

section:not(:first-child) {
    background-color: #F2F2F2;
}

/* HEADER */
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "logo-nav register-nav"
    "hosting-nav activity-nav";
}

#header nav a:visited {
    color: inherit
}

#header nav a:nth-child(3):hover, #header nav a:nth-child(4):hover {
    color: #0065FC;
    border-bottom: solid 3px #0065FC;
}

#header nav a:first-child {
    align-items: center;
    width: 50%;
    grid-area: logo-nav;
}

nav a:hover {
    border-top: none;
    -transition: 0.1s;
    color: #2978fd;
}

#header nav a:nth-child(2) {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    grid-area: register-nav;
}

#header nav a:nth-child(3) {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px #F2F2F2;
    text-decoration: none;
    font-weight: 500;
    grid-area: hosting-nav;
}

#header nav a:last-child {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px #F2F2F2;
    text-decoration: none;
    font-weight: 500;
    grid-area: activity-nav;
}

/* FILTER */
#filter header, #filter div {
    margin-bottom: 3rem;
}

#filter header h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

#filter header p {
    font-size: 2rem;
}

#filter div:first-child {
    display: flex;
}

#search-bar > i:nth-child(1) {
    line-height: 50px;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    font-size: 1.5rem;
}

#filter form div:first-child input {
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: calc(100% - 75px);
    font-weight: bold;
}

#search-bar > button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
}

#searching-button {
    display: none;
}

#filter form h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bold;
}

#filter form div:not(:first-child) {
    display: flex;
    flex-wrap: wrap;
}

#filter form > button {
    padding: 0;
    border: 3px solid #F2F2F2;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;

}

#filter form > button:hover, #filter form > button i:hover, #filter form button span:hover {
    transition: 0.1s;
    color: #2978fd;
}

#filter form > button i {
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: -3px;
    line-height: 3rem;
    color: #0065FC;
}

#filter form button span {
    padding: 0 10px;
}

#filter form p {
    display: flex;
    align-items: center;
}

#filter form p i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

#filter form p i span {
    padding: 0 10px 0 40px;
}

#popular {
    padding: 20px;
}

#popular header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/-1;
    font-size: 3rem;
}

#popular header i {
    color: black;
    max-width: 130px;
}

#popular header h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

#popular article {
    padding: 5px;
    background-color: white;
    margin: 2rem 0;
    border-radius: 20px;
    box-shadow: 0 5px 10px silver;
}

#popular article a {
    display: block;
    text-decoration: none;
    color: black;
    height: 120px;
}

#popular article a figure {
    display: flex;
    height: 100%;
}

#popular article a figure img {
    width: 33%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#popular article a figure figcaption {
    display: block;
    font-size: 1.17rem;
    padding: 11px;
    position: relative;
    width: 100%;
    font-weight: bold;
}

#popular article a figure figcaption h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 10px;
}

#popular article a figure figcaption p {
    display: block;
    font-weight: lighter;
}

#popular article a figure figcaption p strong {
    font-weight: bold;
}

#popular article a figure figcaption div {
    color: #0065FC;
    position: absolute;
    bottom: 0;
    left: 10px;
}

/** HOSTING **/
#hosting {
    background-color: inherit;
}

#hosting header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
}

#hosting article {
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px silver;
    margin: 2rem;
}

#hosting article a {
    display: block;
    border-radius: 20px;
    text-decoration: none;
    height: 240px;
}

#hosting article a figure {
    display: block;
    height: 100%;
}

#hosting article a figure img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: calc(100% - 90px);
    object-fit: cover;
}

#hosting article a figure figcaption {
    display: block;
    font-size: 1.17rem;
    padding: 0.7rem;
    font-weight: bold;
    height: 90px;
    color: black;
}

#hosting article a figure figcaption h2 {
    font-size: 2rem;
    display: block;
}

#hosting article a figure figcaption p {
    display: block;
    font-weight: lighter;
}

#hosting article a figure figcaption p strong {
    font-weight: bolder;
}

#hosting article a figure figcaption div i {
    color: #0065FC;
}

#hosting > a {
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: bold;
    color: black;
}

/** ACTIVITY **/

#activity {
    background-color: white;
}

#activity h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#activity a {
    display: block;
    text-decoration: none;
    margin: 2rem 0;
}

#activity a figure {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px 20px;
}

#activity a figure img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 120px;
    object-fit: cover;
}

#activity a figure figcaption {
    display: block;
    font-size: 1.5em;
    padding: 2rem;
    font-weight: bold;
    color: black;
}

#activity a figure figcaption p {
    display: block;
    margin: 1rem 1rem;
    font-weight: bold;
}

/** FOOTER **/
footer {
    background-color: #F2F2F2;
    width: 100%;
    display: block;
    padding: 2rem;
}

footer div {
    flex-direction: column;
    display: flex;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

footer div h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

footer div a {
    display: block;
    margin: 1rem 0;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}
