:root {
    font-size: 12px;
    /* déclarer des variables */
}

header a, span, p {
    font-size: 1.2rem;
}

header nav {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem;
    gap: 0 0;
    grid-template-areas:
    "logo-nav hosting-nav activity-nav register-nav";
}

section:not(#popular):not(#hosting) {
    margin: unset;
}

#header nav a {
    justify-content: space-around;
    margin: 0 1rem;
}

#header nav a:nth-child(2) {
    order: 4;
}

#header nav a:not(:first-child) {
    border-bottom: none;
    justify-content: flex-end;
}

#header nav a:not(:first-child):visited {
    border-top: solid 3px #0065FC;
}

#filter div:first-child {
    width: 65%;
    margin: 0 auto 0 auto;
    display: inline-flex;
}

#filter form h2 {
    margin-bottom: 2rem;
}

#filter form div:first-child input {
    font-size: 1.5rem;
}

#filter {
    grid-area: filter;
    padding: 2rem;
}

#searching-icon {
    display: none;
}

#searching-button {
    display: block !important;
}

#search-bar > button {
    width: unset;
    border-radius: 0 1rem 1rem 0;
}


#hosting {
    grid-area: hosting;
    padding: 20px;
}

#activity {
    grid-area: activity;
    padding: 20px;
}

#popular article {
    margin: unset;
}

#popular article a figure figcaption h2 {
    font-size: 2rem;
}

#popular > header {
    grid-area: popular-header;
}

#popular article:nth-child(1) {
    grid-area: article2;
}

#popular article:nth-child(2) {
    grid-area: article1;
}

#popular article:nth-child(3) {
    grid-area: article2;
}

#searching-button {
    display: none;
}

#popular {
    padding: 20px;
    grid-area: popular;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "popular-header"
        "article1"
        "article2"
        "article3";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "filter"
    "popular"
    "hosting"
    "activity";
}

#hosting header {
    grid-area: hosting-header
}

#hosting > a {
    padding: unset;
}

#hosting article {
    padding: unset;
    margin: unset;
}

#hosting article:nth-child(1) {
    grid-area: hosting-article1;
}

#hosting article:nth-child(2) {
    grid-area: hosting-article2;
}

#hosting article:nth-child(3) {
    grid-area: hosting-article3;
}

#hosting article:nth-child(4) {
    grid-area: hosting-article4;
}

#hosting article:nth-child(5) {
    grid-area: hosting-article5;
}

#hosting article:nth-child(6) {
    grid-area: hosting-article6;
}

#hosting article a figure img {
    height: calc(100% - 100px);
}

#hosting article a figure figcaption {
    height: 100px;
}

#hosting article a figure {
    height: 100%;
}

#hosting article a {
    height: 100%;
}

#hosting {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 240px);
    gap: 2rem;
    grid-template-areas:
        "hosting-header hosting-header"
        "hosting-article1 hosting-article2"
        "hosting-article3 hosting-article4"
        "hosting-article5 hosting-article6";
}

#activity a {
    margin: unset;
    box-shadow: 0 5px 10px silver;
    border-radius: 20px;
}

#activity h2 {
    grid-area: activity-h2
}

#activity :nth-child(2) {
    grid-area: activity-a1
}

#activity :nth-child(3) {
    grid-area: activity-a2
}

#activity :nth-child(4) {
    grid-area: activity-a3
}

#activity :nth-child(5) {
    grid-area: activity-a4
}

#activity :nth-child(6) {
    grid-area: activity-a5
}

#activity :nth-child(7) {
    grid-area: activity-a6
}

#activity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
        "activity-h2 activity-h2"
        "activity-a1 activity-a2"
        "activity-a3 activity-a4"
        "activity-a5 activity-a6";
    background-color: #F2F2F2;
}

footer {
    text-align: center;
}
